$ms-primary: #ffffff;
$ms-secondary: #787879;
$ms-accent: #0283f8;
$ms-dark: #1c1c1c;

$ms-font-xs: .6rem;
$ms-font-sm: .8rem;
$ms-font-md: 1rem;
$ms-font-lg: 1.2rem;
$ms-font-xl: 1.5rem;
$ms-font-xxl: 2rem;
$ms-font-2xl: 3rem;